
<div class="footer">
	<div class="container">
		<div class="footer_top">
			<div class="span_of_4">
				<template ngFor [ngForOf]="menuList" let-menu>
					<div class="col-md-3 span1_of_4">
						<h4> {{menu.name}} </h4>
						<ul class="f_nav">
							<li *ngFor="let item of menu.items"> <a href="item.href">{{ item.name }} </a></li>
						</ul>
					</div>
				</template>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="cards text-center">
			<img src="assets/images/cards.jpg" alt="" />
		</div>
		<div class="copyright text-center">
			<p>© 2017 Kevin. All Rights Reserved | Design by   <a href="http://w3layouts.com">  W3layouts</a></p>
		</div>
	</div>
</div>
